.taskbar-left {
    background-color: $dark-background;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
    padding-top: 1rem; 
    padding-bottom: 1rem;
}

.taskbar-item {
    margin: 0 0.25rem;
    transition: 0.3s;
    padding: 0 0.1rem;
    border-radius: 1.5rem;
}

.taskbar-item:hover {
    background-color: mix($dark-surface, $dark-on-surface, 70%);
}

.taskbar_corner_top, .taskbar_corner_bottom {
    padding: 25px;
    border-radius: 100%;
    background-color: transparent;
}

.taskbar_corner_top {
    box-shadow: -55px 50px 0px 0px $dark-background;
}

.taskbar_corner_bottom {
    box-shadow:  -55px -50px 0px 0px $dark-background;
}
/*
.taskbar_corner_top {
    background-color: transparent;
    padding: 25px;
    border-radius: 100%;
    box-shadow: -25px 30px 0px 0px $dark-background;
  
}
.taskbar_corner_bottom {
    background-color: transparent;
    padding: 25px;
    border-radius: 100%;
    box-shadow:  -20px -20px 0 0 $dark-background;
  
}
*/